{
  "extends": ["airbnb", "airbnb/hooks"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-fragments": 0,
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "no-shadow": 0,
  }
}