.completed-controls-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  .counter {
    margin-right: auto;
  }

  .toggle-all-tasks-btn {
    width: ($spacing * 20);
  }

  .delete-completed-btn {
    margin-left: $spacing;

    &:disabled {
      opacity: .1;
      cursor: auto;
    }
  }
}