* {
  box-sizing: border-box;
}

html {
  body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: $primary-text;

    .App {
      height: 100vh;
    }

    .container {
      max-width: 600px;
      padding: 0 ($spacing * 2);
      margin-left: auto;
      margin-right: auto;
    }
  }

}