.custom-checkbox {
  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -5px;
    margin-left: -4px;
    border: 1px solid $primary-text;
    border-radius: 10%;
    background: $primary-color;
  }

  &:checked::after {
    background-image: url('/icons/checked-icon.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
  }
}