.custom-input {
  position: relative;
  display: inline-block;

  input {
    padding: $spacing ($spacing * 2);
    border: 2px solid transparent;
    width: 100%;
    height: ($spacing * 6);
    font-size: 16px;
    transition: .2s ease-in-out;

    &:focus {
      position: relative;
      border-bottom: 2px solid $secondary-color;
      outline: none;
    }

    &:focus ~ .placeholder, 
    &:not(:focus):valid ~ .placeholder { 
      font-size: 10px;
      top: 1px;
    }
  }
  
  .placeholder {
    position: absolute;
    top: $spacing;
    left: ($spacing * 2) + 1;
    pointer-events: none;
    color: $secondary-color;
    transition: .2s ease-in-out;
  }
}