.delete-todo-btn {
  width: ($spacing * 2);
  height: ($spacing * 2);
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('/icons/cross-icon.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}