.new-todo-form {
  display: flex;

  .new-todo-input {
    width: 80%;

    input {
      padding-left: 20px;
    }

    .placeholder {
      left: 21px;
    }
  }

  .priority-select {
    margin-left: auto;
    align-self: center;
    transition: .2s ease-in-out;
    
    &.hidden {
      opacity: 0;
      transition: .2s ease-in-out;
      pointer-events: none;
    }
  }
}