.todo-list-container {
  .no-todos-title {
    margin-left: ($spacing * 2);
  }
  
  .todo-list {
    margin-top: ($spacing * 2);
    padding: 0;

    .todo-item {
      list-style: none;
      transition: .3s ease-in-out;
      height:($spacing * 5);

      .view, .edit-todo-form {
        height: 100%;
      }

      .view {
        display: flex;
        align-items: center;

        .toggle-part {
          width: ($spacing * 4);
        }

        .title-part {
          flex: 1;
          padding: $spacing 0;

          .title {
            height: 100%;
            display: inline-block;
          }
        }
      }

      .edit-todo-form {
        width: 100%;

        .edit-todo-input {
          width: 100%;
          height: 100%;

          input {
            padding: $spacing ($spacing * 4);
            border: none;
            height: 100%;

            &:focus {
              -webkit-box-shadow: inset -3px 0px 21px -4px rgba(0,0,0,0.2);
              -moz-box-shadow: inset -3px 0px 21px -4px rgba(0,0,0,0.2);
              box-shadow: inset -3px 0px 21px -4px rgba(0,0,0,0.2);
            }
          }
        }
      }

      &.completed {
        transition: .3s ease-in-out;
        background-color: lighten($secondary-color, 30%);

        .view {
          .title-part {
            .title {
              text-decoration: line-through;
              color: $accent-color;
            }
          }
        }
      }

      .delete-todo-btn {
        // display: none;
        opacity: 0;
        pointer-events: none;
        transition: .2s ease-in-out;
      }

      &:hover {
        .delete-todo-btn {
          // display: block;
          opacity: 1;
          pointer-events: auto;
          transition: .2s ease-in-out;
        }
      }
    }
  }
}