.todo-list-container {
  .no-todos-title {
    margin-left: ($spacing * 2);
  }
  
  .todo-list {
    margin-top: ($spacing * 2);
    padding: 0;

    .todo-item {
      position: relative;
      list-style: none;
      transition: .3s ease-in-out;

      // .view, .edit-todo-form {
      //   height: 100%;
      // }

      .view {
        display: flex;
        border: 2px solid transparent;

        .toggle-part {
          width: ($spacing * 4);

          .toggle-completed-checkbox {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
          }
        }

        .title-part {
          flex: 1;

          .title {
            display: inline-block;
            height: 100%;
            padding: $spacing 0;
            font-size: 16px;
          }
        }
      }

      .edit-todo-form {
        width: 100%;
      }

      &.completed {
        transition: .3s ease-in-out;
        background-color: lighten($secondary-color, 30%);

        .view {
          .toggle-part {
            .toggle-completed-checkbox {
              &::after {
                background-color: lighten($secondary-color, 30%);
                border: 1px solid $accent-color;
              }
            }
          }

          .title-part {
            .title {
              text-decoration: line-through;
              color: $accent-color;
            }
          }
        }
      }

      .delete-todo-btn {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
        transition: .2s ease-in-out;
      }

      &:hover {
        .delete-todo-btn {
          opacity: 1;
          pointer-events: auto;
          transition: .2s ease-in-out;
        }
      }
    }
  }
}